* {
    text-align: center;
    color: white;
    font-family: "Rubik", sans-serif;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    border-bottom: 4px solid rgb(255, 255, 255);
    border-top: 4px solid rgb(255, 255, 255);
    font-size: 500%;
    font-weight: 800;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 3%;
}

h2 {
    font-size: 195%;
}

body, html {
    overflow-x: hidden;
  }

.main {
    font-size: 150%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 1%;
    margin-right: 1%;
    column-gap: 1.2%;
}

.section1, .section2, .section3, .section4 {
    justify-self: center;
    align-self: auto;
    border-radius: 20px;
    background-color: rgba(30, 30, 30, 0.65);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 94%;
    line-height: 155%;
}

.section2 {
    grid-row: span 2;
}

.section4 {
    grid-column: 1/-1;
}

p {
    padding-top: 1%;
    padding-bottom: 1%;
}

.links {
    scale: 1.2;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-right: 10%;
    margin-left: 10%;
}

.l1, .l2, .l3, .l4, .l5 {
    justify-self: center;
    align-self: center;
}

.projecttable {
    object-fit: contain;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1%;
}

.p1, .p2, .p3, .p4 {
    justify-self: center;
    align-self: auto;
    margin: 3%;
}

figure figcaption {
    font-size: 125%;
}