* {
    text-align: center;
    color: white;
    font-family: "Rubik", sans-serif;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    border-bottom: 4px solid rgb(255, 255, 255);
    border-top: 4px solid rgb(255, 255, 255);
    font-size: 650%;
    font-weight: 800;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 7%;
    margin-right: 7%;
    padding: 20px;
}

.main {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 0.5%;
    margin-right: 0.5%;
    font-size: 150%;
}

.section1, .section2, .section3, .section4 {
    justify-self: center;
    align-self: center;
    border-radius: 20px;
    background-color: rgba(30, 30, 30, 0.8);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 85%;
    line-height: 140%; 
}

p {
    padding-top: 1%;
    padding-bottom: 1%;
}

.links {
    scale: 1.5;
    padding: 2%;
}

img {
    padding-left: 2%;
    padding-right: 2%;
}

.projecttable {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 8%;
    margin-right: 8%;
    column-gap: 1%;
}

.p1, .p2, .p3, .p4 {
    justify-self: center;
    align-self: auto;
    margin: 3%;
}