* {
    text-align: center;
    color: white;
    font-family: "Rubik", sans-serif;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    border-bottom: 4px solid rgb(255, 255, 255);
    border-top: 4px solid rgb(255, 255, 255);
    font-size: 650%;
    font-weight: 800;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 7%;
    margin-right: 7%;
    padding: 3%;
}

h2 {
    font-size: 175%;
}

body, html {
    overflow-x: hidden;
  }

.main {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 150%;
}

.section1, .section2, .section3, .section4 {
    justify-self: center;
    align-self: center;
    border-radius: 20px;
    background-color: rgba(30, 30, 30, 0.65);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 0.25%;
    margin-right: 0.25%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 92%;
    line-height: 165%; 
}

p {
    padding-top: 1%;
    padding-bottom: 1%;
}



.links {
    scale: 1.75;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-right: 15%;
    margin-left: 15%;
}

.l1, .l2, .l3, .l4, .l5 {
    justify-self: center;
    align-self: center;
}

.projecttable {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}

.p1, .p2, .p3, .p4 {
    justify-self: center;
    align-self: center;
}

figure figcaption {
    font-size: 115%;
}